* { 
  padding: 0;
  margin: 0;
}
html { width: 100%; }
body {
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: hsl(60, 10, 80);
}

main {
  padding: 2em 15rem;
}

#map {
  width: 100%;
  height: 500px;
}

@import 'simple-grid';
@import 'propertyCount';